<a href="https://colab.research.google.com/github/H0wAreU/Statistical-Learning-Labs./blob/main/W05_Lab_Example_SQLite3_DB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **link คำสั่งเพิ่มเติมเกี่ยวกับ sqlite3**

https://docs.python.org/3/library/sqlite3.html

#**เชื่อมต่อฐานข้อมูล test.db(Connect Database)**

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
print("Opened database successfully")
conn.close()

# **สร้างตารางฐานข้อมูล (Create Table)**

In [ ]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute('''CREATE TABLE COMPANY
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL)''')

conn.close()
print("Table created successfully")

# **แทรกข้อมูลในตาราง (Insert Data)**

In [ ]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )");

  conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )");
conn.close()
print("Records created successfully")

# **แทรกข้อมูลในตาราง แบบสั้น**

In [ ]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute("INSERT INTO COMPANY VALUES (3, 'Teddy', 23, 'Norway', 20000.00)")
  conn.execute("INSERT INTO COMPANY VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00)")
  conn.execute("INSERT INTO COMPANY VALUES (5, 'David', 27, 'Texas', 85000.00)")
  conn.execute("INSERT INTO COMPANY VALUES (6, 'Kim', 22, 'South-Hall', 45000.00)")
  conn.execute("INSERT INTO COMPANY VALUES (7, 'James', 24, 'Houston', 10000.00)")
  conn.execute("INSERT INTO COMPANY VALUES (8, 'Paul', 24, 'Houston', 20000.00)")
  conn.execute("INSERT INTO COMPANY VALUES (9, 'James', 44, 'Norway', 5000.00)")
  #conn.commit()

conn.close()
print("Records created successfully")

# **สร้าง Utility สำหรับดูข้อมูล**

In [ ]:
import numpy as np
import pandas as pd

def get_data(cursor):
  all_rows = cursor.fetchall()
  #[all_rows.append(np.array(row)) for row in cursor]
  column_names = [description[0] for description in cursor.description]
  df = pd.DataFrame(data=all_rows, columns = column_names)
  # ซ่อน index
  blankIndex=[''] * len(df)
  df.index=blankIndex
  return df

# **คิวรี่ข้อมูลจากตาราง(Select From Table)**

In [ ]:
conn = sqlite3.connect('test.db')

with conn:
  cursor = conn.execute("SELECT * FROM COMPANY")

df=get_data(cursor)
conn.close()
print("Operation done successfully")
df

# **แก้ไขตาราง**

**เปลี่ยนชื่อ Table**

In [ ]:
conn = sqlite3.connect('test.db')

with conn:
  cursor = conn.execute("ALTER TABLE COMPANY RENAME TO OLD_COMPANY")

conn.close()
print("Operation done successfully")

Operation done successfully

**เพิ่มคอลัมน์**

In [ ]:
conn = sqlite3.connect('test.db')

with conn:
  cursor = conn.execute("ALTER TABLE OLD_COMPANY ADD COLUMN SEX char(1)")

conn.close()
print("Operation done successfully")

**คิวรี่หลังการเปลี่ยนแปลง**

In [ ]:
conn = sqlite3.connect('test.db')

with conn:
  cursor = conn.execute("SELECT * FROM OLD_COMPANY")

df=get_data(cursor)
conn.close()
print("Operation done successfully")
df

# **ลบตาราง(Drop Table)**

In [ ]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute("DROP table IF EXISTS OLD_COMPANY")

conn.close()
print("Table dropped successfully")

**จากข้างต้น Table จะถูกลบแล้ว จะต้องทำการสร้างตารางขึ้นใหม่**
# **AutoIncrement**
ตัวอย่างการสร้าง table โดยให้ primary key เป็น autoincrement

In [ ]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute('''CREATE TABLE COMPANY
        (ID INTEGER PRIMARY KEY AUTOINCREMENT,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL)''')

conn.close()
print("Table created successfully")

**การเพิ่มข้อมูล โดยไม่ระบุ primary key**

In [ ]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY)\
             VALUES ('Paul', 32, 'California', 20000.00 )")

  conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY)\
            VALUES ('Allen', 25, 'Texas', 15000.00 )")

  conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY)\
            VALUES ('Teddy', 23, 'Norway', 20000.00 )")

  conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY)\
            VALUES ('Mark', 25, 'Rich-Mond ', 65000.00 )")

  conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY)\
            VALUES ('David', 27, 'Texas', 85000.00 )")

  conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY)\
            VALUES ('Kim', 22, 'South-Hall', 45000.00 )")

  conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY)\
            VALUES ('James', 24, 'Houston', 10000.00)")

  conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY)\
            VALUES ('Paul', 24, 'Houston', 20000.00)")

  conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY)\
            VALUES ('James', 44, 'Norway', 5000.00)")
  #conn.commit()

print("Records created successfully")

# **SELECT Query (การค้นหาข้อมูล)**

เริ่มจากการใช้ฟังก์ชันเพื่อแสดงข้อมูลจากการคิวรี่

In [ ]:
conn = sqlite3.connect('test.db')

#cursor = conn.execute("SELECT id, name, age, salary from COMPANY")
cursor = conn.execute("SELECT * from COMPANY")
#Select query field of table
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

**Where Clause**

การใช้ operator AND

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY WHERE AGE >= 25 AND SALARY >= 65000")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

การใช้ operator OR

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY WHERE AGE >= 25 OR SALARY >= 65000")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

การใช้ IS NULL กับ IS NOT NULL

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY WHERE SALARY IS NULL")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY WHERE AGE IS NOT NULL")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

การใช้ LIKE

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY WHERE age LIKE '2%'")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY WHERE ADDRESS  LIKE '%-%'")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

การใช้ GLOB

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY WHERE ADDRESS GLOB '*ou*'")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

การใช้ operator IN กับ NOT IN

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY WHERE AGE IN ( 25, 27 )")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY WHERE AGE NOT IN ( 25, 27 )")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

การใช้ operator BETWEEN

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY WHERE AGE BETWEEN 25 AND 27")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

การใช้ประโยค sub-query

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY \
   WHERE AGE > (SELECT AGE FROM COMPANY WHERE SALARY > 65000)")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

# **คำสั่ง DISTINCT**

ก่อนใช้ distinct

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT id, name, age, address, salary from COMPANY")
#Select query field of table
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

หลังใช้ DISTINCT

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT DISTINCT name FROM COMPANY")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

# **การใช้ LIMIT**

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY LIMIT 6")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

# **การใช้ OFFSET ร่วมกับ LIMIT**

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY LIMIT 3 OFFSET 2")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

# **UPDATE QUERY**

In [ ]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute("UPDATE COMPANY set SALARY = 25000.00 where ID = 1")
  print("Total number of rows updated :", conn.total_changes)

conn.close()
print("Operation done successfully");

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
#Select query field of table
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

# **Delete Query**

In [ ]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute("DELETE from COMPANY where ID = 2")
  #ลบ record ที่มี id = 2
  print("Total number of rows deleted :", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
df = get_data(cursor)

conn.close()
print("Operation done successfully");
df

# **Commit กับ Rollback**

**ตัวอย่าง commit()**

In [ ]:
conn = sqlite3.connect('test.db')

conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY)\
            VALUES ('Manee', 35, 'Thailand', 45000.00)")
conn.commit()

#cursor = conn.execute("SELECT id, name, age, address, salary from COMPANY")
#df = get_data(cursor)

conn.close()
print("Operation done successfully");
#df

**ตัวอย่าง rollback()**

In [ ]:
conn = sqlite3.connect('test.db')

conn.execute("INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY)\
            VALUES ('Mana', 15, 'Thailand', 15000.00)")
conn.rollback()

#cursor = conn.execute("SELECT id, name, age, address, salary from COMPANY")
#df = get_data(cursor)

conn.close()
print("Operation done successfully");
#df

# **เมื่อใช้ประโยค with**
* เมธอด commit()จะถูกเรียกอัตโนมัติหลังจากบล็อกทำงานเสร็จ
*เมธอด rollback() จะถูกเรียกอัตโนมัติเมื่อเกิด exception

In [ ]:
conn = sqlite3.connect('test.db')

# Successful, con.commit() is called automatically afterwards
with conn:
    conn.execute("DELETE FROM COMPANY WHERE AGE = 35")
    print("Total number of rows deleted :", conn.total_changes)

# con.rollback() is called after the with block finishes with an exception, the
# exception is still raised and must be caught
try:
    with conn:
        conn.execute("DELETE FROM COMPANY WHERE AGE = 35")
except sqlite3.IntegrityError:
    print ("couldn't delete twice")

conn.close()

In [ ]:
conn = sqlite3.connect('test.db')
cursor = conn.execute("SELECT id, name, age, address, salary from COMPANY")
df = get_data(cursor)

conn.close()
print("Operation done successfully");
df

# **ประโยค ORDER BY**
ใช้ ASC : Ascending น้อยไปมาก

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY ORDER BY SALARY ASC")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY ORDER BY NAME, SALARY ASC")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

ใช้ DESC : Descanding มากไปน้อย

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY ORDER BY NAME DESC")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

# **Group by**

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT NAME, SUM(SALARY) FROM COMPANY GROUP BY NAME")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

**group by ร่วมกับ order by**

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT NAME, SUM(SALARY) FROM COMPANY GROUP BY NAME ORDER BY NAME")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

# **การใช้ having กับ count**

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY GROUP BY name HAVING count(name) < 2")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY GROUP BY name HAVING count(name) >= 2")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

# **JOIN**

ใช้กับ 2 ตารางขึ้นไป

สร้าง Table ใหม่ ชื่่อ department

In [ ]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute('''CREATE TABLE DEPARTMENT(
   ID INT PRIMARY KEY      NOT NULL,
   DEPT           CHAR(50) NOT NULL,
   EMP_ID         INT      NOT NULL
  );''')

conn.close()
print("Table created successfully")

In [ ]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute("INSERT INTO DEPARTMENT (ID, DEPT, EMP_ID) \
  VALUES (1, 'IT Billing', 1 )")

  conn.execute("INSERT INTO DEPARTMENT (ID, DEPT, EMP_ID) \
  VALUES (2, 'Engineering', 2 )")

  conn.execute("INSERT INTO DEPARTMENT (ID, DEPT, EMP_ID) \
  VALUES (3, 'Finance', 7 )")

conn.close()
print("Records created successfully")

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT id, DEPT, EMP_ID from DEPARTMENT")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

# **Cross Join**

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT EMP_ID, NAME, DEPT FROM COMPANY CROSS JOIN DEPARTMENT")
df = get_data(cursor)

print("Operation done successfully")
conn.close()
df

# **Inner Join**

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT EMP_ID, NAME, DEPT FROM COMPANY INNER JOIN DEPARTMENT \
   ON COMPANY.ID = DEPARTMENT.EMP_ID")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

# **Outer Join**

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT EMP_ID, NAME, DEPT FROM COMPANY LEFT OUTER JOIN DEPARTMENT \
   ON COMPANY.ID = DEPARTMENT.EMP_ID")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

# **UNION**

ข้อมูลจาก table **company**

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("select * from COMPANY")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

ข้อมูลจาก table **department**

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("select * from DEPARTMENT")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

# **ใช้ UNION**

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute('''SELECT EMP_ID, NAME, DEPT FROM COMPANY INNER JOIN DEPARTMENT
         ON COMPANY.ID = DEPARTMENT.EMP_ID

         UNION

         SELECT EMP_ID, NAME, DEPT FROM COMPANY LEFT OUTER JOIN DEPARTMENT
         ON COMPANY.ID = DEPARTMENT.EMP_ID''')

df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

# **ใช้ UNION ALL**

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute('''SELECT EMP_ID, NAME, DEPT FROM COMPANY INNER JOIN DEPARTMENT
         ON COMPANY.ID = DEPARTMENT.EMP_ID

         UNION ALL

         SELECT EMP_ID, NAME, DEPT FROM COMPANY LEFT OUTER JOIN DEPARTMENT
         ON COMPANY.ID = DEPARTMENT.EMP_ID;''')

df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

# ใช้ ALIAS ตั้งชื่ออ้างอิง Table หรือคอลัมน์ใหม่

**อ้างอิง table**

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute('''SELECT C.ID, C.NAME, C.AGE, D.DEPT
                FROM COMPANY AS C, DEPARTMENT AS D
                WHERE  C.ID = D.EMP_ID''')
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

**อ้างอิงคอลัมน์**

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute('''SELECT C.ID AS COMPANY_ID, C.NAME AS COMPANY_NAME, C.AGE, D.DEPT
                          FROM COMPANY AS C, DEPARTMENT AS D
                          WHERE  C.ID = D.EMP_ID''')
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

# **การจัดดำเนินการกับคิวรี่ย่อย**

## **SELECT**

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute('''SELECT *
   FROM COMPANY
   WHERE ID IN (SELECT ID
      FROM COMPANY
      WHERE SALARY > 45000)''')
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

## **INSERT**

สร้าง table ชื่อ COMPANY_BKP

In [ ]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute('''CREATE TABLE COMPANY_BKP
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL)''')

conn.close()
print("Table created successfully")

In [ ]:
conn = sqlite3.connect('test.db')

with conn:
  cursor = conn.execute('''INSERT INTO COMPANY_BKP
   SELECT * FROM COMPANY
   WHERE ID IN (SELECT ID
      FROM COMPANY)''')

conn.close()
print("Records created successfully")

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY_BKP")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

## **UPDATE**

In [ ]:
conn = sqlite3.connect('test.db')

with conn:
  cursor = conn.execute('''UPDATE COMPANY
   SET SALARY = SALARY * 0.50
   WHERE AGE IN (SELECT AGE FROM COMPANY_BKP
      WHERE AGE >= 27 )''')

conn.close()
print("Records created successfully")

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY_BKP")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

## **DELETE**

In [ ]:
conn = sqlite3.connect('test.db')

with conn:
  cursor = conn.execute('''DELETE FROM COMPANY
   WHERE AGE IN (SELECT AGE FROM COMPANY_BKP
   WHERE AGE > 27 )''')

cursor = conn.execute("SELECT * FROM COMPANY")
df = get_data(cursor)
conn.close()
print("Records created successfully")
df

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

# **การสร้าง INDEX**

In [ ]:
conn = sqlite3.connect('test.db')

with conn:
  cursor = conn.execute("CREATE INDEX salary_index ON COMPANY (salary)")

conn.close()
print("Operation done successfully")

**Seach by index**

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM sqlite_master WHERE type = 'index'")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

**Select ร่วมกับ index**

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY INDEXED BY salary_index \
                       WHERE salary > 5000")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

**ลบ index**

In [ ]:
conn = sqlite3.connect('test.db')

with conn:
  cursor = conn.execute("DROP INDEX salary_index")

conn.close()
print("Operation done successfully")

# **Views**

## การสร้าง View

In [ ]:
conn = sqlite3.connect('test.db')

with conn:
  conn.execute('''CREATE VIEW COMPANY_VIEW AS
                SELECT ID, NAME, AGE
                FROM  COMPANY;''')

conn.close()
print("View created successfully")

# การแสดง View

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT * FROM COMPANY_VIEW")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

# การลบ View

In [ ]:
conn = sqlite3.connect('test.db')

with conn:
  cursor = conn.execute("DROP VIEW COMPANY_VIEW")

conn.close()
print("Operation done successfully")

# **ฟังก์ชัน (รองรับ SQLite)**

ฟังก์ชัน count นับจำนวนแถวของ Table

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT count(*) FROM COMPANY")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

ฟังก์ชัน max ให้ค่ามากสุดของคอลัมน์นั้น

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT max(salary) FROM COMPANY")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

ฟังก์ชัน min ให้ค่าต่ำสุดของคอลัมน์นั้น

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT min(salary) FROM COMPANY")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

ฟังก์ชัน avg ให้ค่าเฉลี่ยของคอลัมน์นั้น

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT avg(salary) FROM COMPANY")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

ฟังก์ชัน sum ให้ค่าผลรวมของคอลัมน์นั้น

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT sum(salary) FROM COMPANY")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

ฟังก์ชัน random จะให้ค่าจำนวเต็มระหว่าง -9223372036854775808 กับ +9223372036854775807

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT random() AS Random")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

ฟังก์ชัน abs, upper, lower, length

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT abs(5), abs(-15), abs(NULL), abs(0), abs('ABC')")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT upper(name) FROM COMPANY")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT lower(name) FROM COMPANY")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df

In [ ]:
conn = sqlite3.connect('test.db')

cursor = conn.execute("SELECT name, length(name) FROM COMPANY")
df = get_data(cursor)

conn.close()
print("Operation done successfully")
df